@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Martel", serif;
}

h1 {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 700;
  font-size: 74/16rem;
  line-height: 84/16rem;
}

h2 {
  font-size: 3rem;
  line-height: 55px;
  font-weight: 400;
}

h3 {
  font-size: 20/16rem;
  font-size: 28/16rem;
  font-weight: 800;
}

h4 {
  font-size: 28/16rem;
  line-height: 40/16rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
.start {
  width: 100%;
  height: 890px;
  background-image: url("../img/bg1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.start nav {
  height: 150px;
}
.start nav .nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.start nav .nav-container .nav-main {
  display: flex;
  align-items: center;
}
.start nav .nav-container .nav-main ul {
  display: flex;
}
.start nav .nav-container .nav-main ul li {
  margin-right: 2rem;
}
.start nav .nav-container .nav-main ul li a {
  color: #fff;
  text-decoration: none;
}
.start nav .nav-container .nav-main a img {
  width: 180px;
}
.start nav .nav-container .nav-sub img {
  margin-right: 1rem;
}
.start nav .nav-container .nav-sub img:nth-child(4) {
  display: none;
}
.start .start-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.start .start-main h1 {
  margin-bottom: 2rem;
}
.start .start-main h4 {
  margin-bottom: 4rem;
  letter-spacing: 0.2px;
  font-weight: 400;
}
.start .start-main-btn {
  color: #fff;
  background-color: #2091f9;
  padding: 1rem 1.5rem;
  font-size: 20px;
  letter-spacing: 0.2px;
  padding: 1rem 2rem;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .start {
    height: 700px;
  }
  .start nav {
    height: 100px !important;
    padding: 0 2rem;
  }
  .start nav .nav-main ul {
    display: none !important;
  }
  .start nav .nav-sub img:nth-child(1), .start nav .nav-sub img:nth-child(2), .start nav .nav-sub img:nth-child(3) {
    display: none;
  }
  .start nav .nav-sub img:nth-child(4) {
    display: block !important;
  }
}
.features .features-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.features .features-container .features-title {
  text-align: center;
}
.features .features-container .features-title-sub {
  max-width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}
.features .features-container .feature-box {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.features .features-container .feature-box .feature {
  width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features .features-container .feature-box .feature .feature-caption {
  margin-top: 1.5rem;
  text-align: center;
}
.features .features-container .feature-box .feature .feature-info {
  margin-top: 1rem;
  text-align: center;
}
.features .features-container .feature-video {
  margin-top: 1rem;
  position: relative;
}
.features .features-container .feature-video-img {
  max-width: 100%;
}
.features .features-container .feature-video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #2091F9;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.features .features-container .feature-video-play img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .features-title-sub {
    max-width: 80%;
  }
  .feature-box {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .feature-box .feature {
    width: 50% !important;
    margin-top: 5rem;
  }
}
.organize {
  padding: 5rem 0;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.organize .organize-main {
  margin-right: 6rem;
}
.organize .organize-main-info {
  margin-top: 1.5rem;
}
.organize .organize-main-btn {
  margin-top: 1.5rem;
  color: #fff;
  background-color: #2091f9;
  padding: 1rem 1.5rem;
  font-size: 20px;
  letter-spacing: 0.2px;
  padding: 1rem 2rem;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}
.organize .organize-sub {
  width: 100%;
}
.organize .organize-sub-screen {
  max-width: 100%;
}
.organize .organize-sub-base {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .organize {
    flex-direction: column;
    align-items: center !important;
  }
  .organize-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .organize-main-caption {
    text-align: center;
  }
  .organize-main-info {
    text-align: center;
  }
  .organize-main-btn {
    margin-top: 2rem;
  }
  .organize-sub {
    margin-top: 2rem;
  }
}
.partners-container {
  max-width: 1200px;
  padding: 4rem 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners-title {
  text-align: center;
}
.partners-info {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 0.4rem;
}
.partners-box {
  max-width: 1000px;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partners-box-el {
  border: 1px solid #d8d8d8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners-btn {
  margin-top: 4rem;
}
.partners-btn-a {
  color: #fff;
  background-color: #2091f9;
  padding: 1rem 1.5rem;
  font-size: 20px;
  letter-spacing: 0.2px;
  padding: 1rem 2rem;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 5rem 0;
  margin: auto;
  margin-top: 4rem;
}
.subscribe .subscribe-main {
  margin-right: 4rem;
  width: 50%;
}
.subscribe .subscribe-main img {
  width: 100%;
}
.subscribe .subscribe-sub h3 {
  font-size: 90%;
}
.subscribe .subscribe-sub-newsletter {
  margin-top: 1.5rem;
}
.subscribe .subscribe-sub-available {
  margin-top: 0.2rem;
}
.subscribe .subscribe-sub-box {
  margin-top: 2rem;
}
.subscribe .subscribe-sub-box input {
  padding: 1rem 3rem;
  border: none;
  background-color: #E8E8E8;
  border-radius: 25px;
  outline: none;
}
.subscribe .subscribe-sub-box button {
  margin-top: 1.25rem;
  padding: 1rem 3rem;
  border-radius: 25px;
  color: #fff;
  background-color: #2091F9;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .subscribe {
    flex-direction: column;
    align-items: center;
  }
  .subscribe-main {
    width: 100%;
  }
  .subscribe-sub {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-sub h2 {
    text-align: center;
  }
  .subscribe-sub-box {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
}
.tst {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.tst-img {
  margin-top: 5rem;
  width: 150px;
}
.tst-info {
  max-width: 1200px;
  margin: auto;
  margin-top: 5rem;
  text-align: center;
}
.tst-box {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.tst-box img {
  width: 50px;
}
.tst-box-info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pricing {
  background-color: #252B42;
}
.pricing .pricing-container {
  max-width: 1200px;
  padding: 3em 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.pricing-title {
  margin-bottom: 1.5em;
}
.pricing-info {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}
.pricing-box {
  max-width: 1000px;
  display: flex;
  gap: 40px;
  margin-top: 2em;
}
.pricing-box-el {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dedede;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  padding: 1.5em 2em;
}
.pricing-box-el-title {
  margin-top: 2em;
  text-align: center;
}
.pricing-box-el-info {
  margin-top: 0.2em;
  text-align: center;
}
.pricing-box-el-price {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.pricing-box-el-price-title {
  font-size: 6rem;
  line-height: 7rem;
  margin-right: 0.5rem;
}
.pricing-box-el-feature {
  margin-top: 2em;
}
.pricing-box-el-feature p {
  margin-top: 1em;
}
.pricing-box-el-btn {
  margin-top: 2em;
  padding: 2em 3.5em;
  border-radius: 10px;
  color: #fff;
  background-color: #2091f9;
  padding: 1rem 1.5rem;
  font-size: 20px;
  letter-spacing: 0.2px;
  padding: 1rem 2rem;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}
.pricing-box-el:nth-child(2) {
  transform: translateY(-25px);
  background-color: #2091F9;
}
.pricing-box-el:nth-child(2) button {
  color: #2091f9;
  background-color: #fff;
  padding: 1rem 1.5rem;
  font-size: 20px;
  letter-spacing: 0.2px;
  padding: 1rem 2rem;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .pricing {
    font-size: 1.5rem;
  }
  .pricing-box {
    margin: auto;
    margin-top: 2em;
    width: 76%;
    flex-direction: column;
  }
  .pricing-box-el-title {
    font-weight: 900;
  }
  .pricing-box-el-price {
    display: flex;
    align-items: center;
  }
}
.contact {
  padding: 5rem 0;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.contact-title {
  text-align: center;
  margin-bottom: 3rem;
}
.contact-info {
  text-align: center;
  font-size: 1.4rem;
  width: 45%;
  margin: auto;
  line-height: 1.7rem;
}
.contact-box {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-box-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  margin-right: 6rem;
}
.contact-box-main input,
.contact-box-main textarea {
  width: 100%;
  background-color: #E8E8E8;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border: none;
}
.contact-box-main button {
  color: #fff;
  background-color: #2091f9;
  padding: 1rem 1.5rem;
  font-size: 20px;
  letter-spacing: 0.2px;
  padding: 1rem 2rem;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}
.contact-box-sub-info {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.contact-box-sub-info div {
  flex: 1;
  width: 33% !important;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
.contact-box-sub-info div img {
  width: 40px;
  height: 40px;
}
.contact-box-sub-info div span {
  margin-top: 0.5rem;
  text-align: center;
}
.contact-box-sub-map {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}
.contact-box-sub-map img {
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .contact-box {
    flex-direction: column;
    margin: 0 !important;
  }
  .contact-box-main {
    margin-top: 3rem;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
  }
  .contact-box-main-title {
    margin-bottom: 1.5rem;
  }
  .contact-box-main input, .contact-box-main textarea {
    padding: 2rem 3rem;
  }
  .contact-box-sub {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .contact-box-sub-map {
    display: none;
  }
  .contact-box-sub-info {
    display: none;
  }
  .contact-box-sub-info div {
    display: flex !important;
    flex-direction: row !important;
    grid: 30px;
    align-items: center;
  }
}
.footer {
  padding: 4rem 0;
  background-color: #252B42;
  color: #fff;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-links {
  display: flex;
}
.footer-links-box {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
.footer-links-box a {
  margin-top: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.footer-info-number, .footer-info-location {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer-info-number img, .footer-info-location img {
  width: 40px;
  margin-right: 10px;
}
.footer-info-social {
  margin-top: 1rem;
}
.footer-info-social img {
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-links {
    flex-direction: column;
    align-items: center;
  }
  .footer-links-box {
    margin-bottom: 4rem;
  }
  .footer-links-box a {
    letter-spacing: 1px;
  }
  .footer-info img {
    width: 20px;
  }
  .footer-info-social {
    margin-top: 5rem;
  }
  .footer-info-social img {
    width: 32px;
  }
}/*# sourceMappingURL=main.css.map */