.organize {
	padding: 5rem 0;
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.organize-main {
		&-caption {}

		&-info {
			margin-top: 1.5rem;
		}

		margin-right: 6rem;

		&-btn {
			margin-top: 1.5rem;
			@include btn-try();
		}
	}

	.organize-sub {
		width: 100%;

		&-screen {
			max-width: 100%;
		}

		&-base {
			max-width: 100%;
		}
	}
}

@media screen and (max-width:768px) {
	.organize {
		flex-direction: column;
		align-items: center !important;

		&-main {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 !important;
			width: 50%;
			margin: auto;
			margin-bottom: 2rem;


			&-caption {
				text-align: center;
			}

			&-info {
				text-align: center;
			}

			&-btn {
				margin-top: 2rem;
			}
		}

		&-sub {
			margin-top: 2rem;
		}
	}
}