

.pricing{
	background-color: #252B42;
	.pricing-container{
		max-width: 1200px;
		padding: 3rem 0;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		color : #fff;
	}
	&-title{
		margin-bottom: 1.5rem;
	}
	&-info {
		width: 600px;
		margin: auto;
		text-align: center;
	}
	&-box{
		width: 1000px;
		display: flex;
		gap:  40px;
		margin-top: 2rem;
		&-el{
			background-color: #fff;
			border-radius: 5px;
			border: 1px solid #dedede;
			border-radius: 5px;
			display: flex; flex-direction: column;
			align-items: center;
			color: #000;
			padding: 1.5rem 2rem;
			&-title{
				margin-top: 2rem;
				text-align: center;
			}
			&-info{
				margin-top: .2rem;
				text-align: center;
			}
			&-price{
				display: flex;
				margin-top: 1rem;
			}
			&-feature{
				margin-top: 3rem;
				p{
					margin-top: 1rem;
				}
			}
			&-btn{
				margin-top: 2rem;
				padding : 2rem 3.5rem;
				border-radius: 10px;
				@include btn-try();
			}
			&:nth-child(2){
				transform: translateY(-25px);
				background-color: $primary-color;
			}
			&:nth-child(2) button {
				@include btn-try-reverse ;
				
				
				
			}

		}
		
	}
}