.pricing {
	background-color: #252B42;

	.pricing-container {
		max-width: 1200px;
		padding: 3em 0;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
	}

	&-title {
		margin-bottom: 1.5em;
	}

	&-info {
		max-width: 600px;
		margin: auto;
		text-align: center;
		margin-bottom: 3rem;
	}

	&-box {
		max-width: 1000px;
		display: flex;
		gap: 40px;
		margin-top: 2em;

		&-el {
			background-color: #fff;
			border-radius: 5px;
			border: 1px solid #dedede;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			color: #000;
			padding: 1.5em 2em;

			&-title {
				margin-top: 2em;
				text-align: center;
			}

			&-info {
				margin-top: .2em;
				text-align: center;
			}

			&-price {
				display: flex;
				align-items: center;
				margin-top: 1em;

				&-title {
					font-size: 6rem;
					line-height: 7rem;
					margin-right: .5rem;
				}
			}

			&-feature {
				margin-top: 2em;

				p {
					margin-top: 1em;
				}
			}

			&-btn {
				margin-top: 2em;
				padding: 2em 3.5em;
				border-radius: 10px;
				@include btn-try();
			}

			&:nth-child(2) {
				transform: translateY(-25px);
				background-color: $primary-color;
			}

			&:nth-child(2) button {
				@include btn-try-reverse;



			}

		}

	}
}

@media screen and (max-width:768px) {
	.pricing {
		font-size: 1.5rem;
	}

	.pricing {
		&-box {
			margin: auto;
			margin-top: 2em;
			width: 76%;
			flex-direction: column;

			&-el {
				&-title {
					font-weight: 900;

				}

				&-info {}

				&-price {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}