@mixin btn-try{
	color: #fff;
	background-color: #2091f9;
	padding: 1rem 1.5rem;
	font-size: 20px;
	letter-spacing: 0.2px;
	padding : 1rem 2rem;
	border-radius: 35px;
	border: none;
	cursor: pointer;
}

@mixin btn-try-reverse{
	color: #2091f9;
	background-color: #fff;
	// border-radius: ;
	padding: 1rem 1.5rem;
	font-size: 20px;
	letter-spacing: 0.2px;
	padding : 1rem 2rem;
	border-radius: 35px;
	border: none;
	cursor: pointer;
}